#typed {
  margin-top: 10em;
  text-align: center;
  color: #404040;
}

.typed-img {
  width: 7em;
  height: auto;
  margin-top: 1em;
  border: 1px solid;
  padding: 0.2em;
  border-radius: 50%;
}

.round-img {
  border-radius: 50%;
}

.typed-cursor {
  animation: blink 1s linear infinite;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#timeline {
  margin-top: 2em;
}

#timeline-figure {
  margin-top: 5em;
}

#timeline-archive {
  padding-right: 0;
}

.round-div {
  background: inherit;
  border: 1px solid;
  //margin-left: 3em !important;
}

.about-footer {
  margin-left: 33%;
}

.singlewide {
  width: 100%;
}

table.latencies {
  display: inline-table;
}

.fullwidth {
  padding-right: 0px;
}

td:nth-child(1) {
  text-align: left; /* NEW */
}

td:last-child {
  text-align: right; /* NEW */
}

.jwt-left-split {
  width: 46%;
  float: left;
  text-align: center;
}

.jwt-right-split {
  margin-left: 47%;
  width: 56%;
  text-align: center
}

@media (max-width: 768px) {
  .jwt-left-split {
    width: 100%;
    float: none;
    text-align: center;
  }

  .jwt-right-split {
    margin-left: revert;
    width: 100%;
    float: none;
    text-align: center;
  }
}

.blue-text {
  color: #00adb5 !important;
  background-color: inherit;
}

.ping-text {
  color: #ff43a0 !important;
  background-color: inherit;
}

.orange-text {
  color: coral !important;
  background-color: inherit;
}

.red-bg {
  background-color: #8e5353;
}

.cm-jwt-header {
  @extend .ping-text;
}

.cm-jwt-payload {
  @extend .blue-text;
}

.cm-jwt-signature {
  @extend .orange-text;
}

.jwt-comment {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: silver !important;
  opacity: 0.5;
}
